<!doctype html>
<html lang="{{ htmllang() }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
		{{ app.config.get('general/sitename') -}}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/arta.min.css">
	<link rel="stylesheet" href="{{ asset('theme.css', 'theme') }}">
	<link rel="icon" href="{{ asset('images/favicon.ico', 'theme')}}" type="image/x-icon">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="banner">
				<div class="inner">
					<h1 class="display-1"><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></h1>
					{% if app.config.get('general/payoff') %}
						<h4>{{ app.config.get('general/payoff') }}</h4>
					{% endif %}
				</div>
			</div>
		</header>
		<nav class="navbar navbar-full">
			<button class="navbar-toggler hidden-lg-up fa fa-bars" type="button" data-toggle="collapse" data-target="#navbarResponsive"></button>
			<div class="collapse navbar-toggleable-md" id="navbarResponsive">
				{{ menu() }}
				<ul class="nav navbar-nav float-md-right icons">
					<li class="nav-item">
						{% if theme.twitter %}  <a href="https://twitter.com/{{ theme.twitter }}">          <span class="fa fa-twitter">     </span></a>{% endif %}
						{% if theme.facebook %} <a href="https://facebook.com/{{ theme.facebook }}">        <span class="fa fa-facebook">    </span></a>{% endif %}
						{% if theme.flickr %}   <a href="https://flickr.com/photos/{{ theme.flickr }}">     <span class="fa fa-flickr">      </span></a>{% endif %}
						{% if theme.github %}   <a href="https://github.com/{{ theme.github }}">            <span class="fa fa-github">      </span></a>{% endif %}
						{% if theme.youtube %}  <a href="https://www.youtube.com/user/{{ theme.youtube }}"> <span class="fa fa-youtube-play"></span></a>{% endif %}
						{% if theme.steam %}    <a href="http://steamcommunity.com/id/{{ theme.steam }}">   <span class="fa fa-steam">       </span></a>{% endif %}
					</li>
				</ul>
			</div>
		</nav>
		<main>
			{% block main %}
			{% endblock %}
		</main>
	</div>
	
	<footer>
		<p class="text-muted" style="text-align: center">Lars Veldscholte</p>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
